# Unreal Engine

Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

.vs/
.vscode/
.idea/

*.VC.db
*.VC.opendb
*.suo
*.user
*.userprefs

*.log
*.tmp
*.dmp

.DS_Store
Thumbs.db

*.obj
*.pdb
*.ilk
*.exp
*.lib

*.sln
*.opensdf
*.sdf